body {
    width: 100%;
    height: 100vh;
    font-family: 'Verdana';
    background: white;
    margin: 0;
    padding: 0;

    .container {
        width: 100%;
        height: 100vh;

        .header {
            width: 100%; 
            height: 45px;
            background-color: rgb(25, 25, 25);
            border-bottom: 1px solid #adadad;
        }

        .right-nav {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 250px;
            height: 100vh;
            justify-content: left;
            align-content: left;
            background-color: rgb(25, 25, 25);
            border-right: 1px solid #adadad;
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            .button {
                width: 100%;
                height: 40px;
                justify-content: center;
                align-content: center;
                background: none;
                border: none;
                font-size: 18px;
                color: white;
                text-align: left;
                padding-left: 15px;
                border-bottom: 1px solid #adadad;

                &:hover {
                    background-color: #0082df;
                    color: white;
                    border-left: 5px solid white;
                    border-bottom: none;
                }
            }
        }
    }
    
}